main {
  font-family: monospace, monospace;
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

::selection {
  background: #44475a;
}

body {
  background: #282a36;
  color:      #f8f8f2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a:active, a:visited {
  color: #bd93f9;
  background-color: #44475a;
}

a {
  color: #8be9fd;
}


h1, h2, h3, h4, h5 {
  color: #50fa7b;
  margin-bottom: .1rem;
}


blockquote {
  border-left: 1px solid #6272a4;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  align: center;
}

/******************************************************************************
 * Commented out until I can figure out a way to add a light mode to dracula
 * that I like :c
 * 
 * Sorry all of the 3 people that like light mode
 *****************************************************************************/
/*************************************
@media (prefers-color-scheme: light) {
    body {
        background: #fbf1c7;
        color:      #3c3836;
    }

    pre {
        background-color: #ebdbb2;
        padding: 1em;
        border: 0;
    }

    a, a:active, a:visited {
        color: #b16286;
        background-color: #f9f5d7;
    }

    h1, h2, h3, h4, h5 {
        margin-bottom: .1rem;
    }

    blockquote {
        border-left: 1px solid #655c54;
        margin: 0.5em 10px;
        padding: 0.5em 10px;
    }
}
*************************************/
